<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script  src="{{url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
Hello11

<div class="ui-widget">
  <label for="birds">Birds: </label>
  <input id="birds">
</div>
<div id="log" ></div>
</div>
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log"  class="ui-widget-content"></div>
</div>
</body>
</html>